.layla-text {
  animation: color-change 1s infinite;
}
@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: #26ff00;
  }
  75% {
    color: #fffb00;
  }
  100% {
    color: red;
  }
}
